<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="nju.ucas2k.dao.UserRoleDao">

    <select id="selectById" resultType="nju.ucas2k.model.UserRole">
        select * from user_role where id = #{id}
    </select>

    <select id="selectByUserId" resultType="nju.ucas2k.model.UserRole">
        select * from user_role where user_id = #{userId}
    </select>

</mapper>